body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f0f0f0;
}

.calendar {
    display: block;
    background: white;
    padding: 15px;
    max-width: 400px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    display: block;
    background-color: white; /* fallback if image doesn't load */
    background-image: url('display.jpg'); /* your image */
    background-size: cover;               /* scale image to cover container */
    background-position: center;          /* center the image */
    background-repeat: no-repeat;         /* prevent tiling */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.monthYear {
    font-weight: bold;
    font-size: 1.6em;
}

.days, .dates ul {
    display: flex;
    justify-content:;
    padding: 0;
    list-style: none;
}

.day, .dates li {
    width: 14.28%;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}

.day {
    font-weight: bold;
    color: #555;
}
 .dates li:hover{
    color: #e42896;
    background-color: #DBCDE4;
    border-radius: 32px;
}
#dateContainer{
    color: #7a42af;
    padding: 15px;
    line-height: 1.5;
    border: 1px solid #F9E4ED;
    border-radius: 5px;
 
  
}
#dateContainer .date{
      padding: 2px;
      display: inline-block;
      justify-content: space-between;
      font-family: "Times New Roman", Times, serif;
      font-size: 16px;
      line-height: 1.5;
      
}

#dateContainer .date:hover{
    color: #e42896;
    background-color: #DBCDE4;
    border-radius: 7px;
}
#messageContainer  {
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
#messageContainer:hover{
     color: #e42896;
    background-color: #DBCDE4;
    border-radius: 7px;
}

